@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7f2f8;
    font-family: "Nunito", sans-serif;
}

.container-titulo{ 
    width: 100%;
    text-align: center;
    margin-top: 50px ;
    margin-bottom: 30px ;
    padding: 10px;
}

.titulo{
    color: #74BDCB;
    font-size: 30px;
}

.container-formulario{
    width: 100%;
    text-align: center;
}

.formulario{
    width: 820px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 3px solid #FFA384;
    border-radius: 20px;
    padding: 10px;
    
}

.input-formulario{
    width: 800px;
    height: 30px;
    border: 1px solid #FFA384;
    background-color: #ffa3841c;
    border-radius: 10px;
    padding: 10px;
}

.label-formulario{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 10px 0;
}

.btn{
    width: 150px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #FFA384;
    color: #EFE7BC;
    padding: 10px;
    margin-top: 30px;
    border: #FFA384;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s;
}

.btn:hover{
    background-color: #74BDCB;
    color: black;
    
}



