@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7f2f8;
    font-family: "Nunito", sans-serif;
}

.container-cabecalho{
	width: 100%;
	height: auto;
	padding: 5px;
	background-color: rgb(215, 175, 231);
}

.cabecalho{
	max-width: 70vw;
	height: auto;
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
}

.logo{
	width: 150px;
	height: 150px;
}

.logo img{
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.title{
	font-size: 1.6rem;
	color: rgb(207, 96, 198);
	padding: 10px;
    text-transform: uppercase;
}

.container-titulo{ 
    width: 100%;
    text-align: center;
    margin-top: 50px ;
    margin-bottom: 30px ;
    padding: 10px;
}

.titulo{
    color: #74BDCB;
    font-size: 2.2rem;
}

.container-formulario{
    width: 100%;
    text-align: center;
}

.formulario{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 3px solid #FFA384;
    border-radius: 20px;
    padding: 10px;
    
}

.input-formulario{
    width: 35vw;
    height: 5vh;
    border: 1px solid #FFA384;
    background-color: #ffa3841c;
    border-radius: 10px;
    padding: 10px;
}

.label-formulario{
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 10px 0;
}

.btn{
    width: 15vw;
    font-size: 1.4rem;
    letter-spacing: 2px;
    background-color: #FFA384;
    color: #EFE7BC;
    padding: 10px;
    margin-top: 30px;
    border: #FFA384;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s;
}

.btn:hover{
    background-color: #74BDCB;
    color: black;
    
}



